.explore {
  margin-bottom: 292px;
}

@media screen and (max-width: 1023px) {
  .explore {
    margin-bottom: 75px;
  }
}

.explore .explore-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 50px;
}

@media screen and (max-width: 1023px) {
  .explore .explore-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 50px 0;
  }
}

.explore .explore-main .explore-heading {
  margin-bottom: 20px;
}

.explore .explore-main .explore-desc {
  margin-bottom: 33px;
}

.explore .explore-main .explore-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.explore .explore-main .explore-image img {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .explore .explore-main .explore-image {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  .explore .explore-main .explore-content {
    max-width: 508px;
    padding-right: 27px;
  }
}

.destination {
  margin-bottom: 232px;
}

@media screen and (max-width: 1023px) {
  .destination {
    margin-bottom: 75px;
  }
}

.destination .destination-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 56px;
}

@media screen and (max-width: 767px) {
  .destination .destination-heading {
    margin-bottom: 30px;
  }
}

.destination .destination-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 0 25px;
}

@media screen and (max-width: 1023px) {
  .destination .destination-list {
    gap: 25px 25px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 739px) {
  .destination .destination-list {
    gap: 0 25px;
    -ms-grid-columns: unset;
        grid-template-columns: unset;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    grid-auto-columns: 300px;
    grid-auto-flow: column;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    scroll-behavior: smooth;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
  }
}

.destination .destination-list .destination-item {
  height: 337px;
  position: relative;
  scroll-snap-align: start;
}

.destination .destination-list .destination-item .destination-image {
  border-radius: 8px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.destination .destination-list .destination-item .destination-image img {
  width: 100%;
  height: 100%;
}

.destination .destination-list .destination-item .destination-content {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  border-radius: 0 6px 0 0;
  padding: 11px 32px 0px 0;
}

.destination .destination-list .destination-item .destination-content .destination-name {
  color: #202336;
  font-size: 17;
  font-family: "Inter", sans-serif;
  line-height: 147%;
  margin-bottom: 10px;
}

.destination .destination-list .destination-item .destination-content .destination-country {
  font-size: 15px;
  color: #7d7987;
}

.destination {
  margin-bottom: 232px;
}

@media screen and (max-width: 1023px) {
  .destination {
    margin-bottom: 75px;
  }
}

.destination .destination-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 56px;
}

@media screen and (max-width: 767px) {
  .destination .destination-heading {
    margin-bottom: 30px;
  }
}

.destination .destination-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 0 25px;
}

@media screen and (max-width: 1023px) {
  .destination .destination-list {
    gap: 25px 25px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 739px) {
  .destination .destination-list {
    gap: 0 25px;
    -ms-grid-columns: unset;
        grid-template-columns: unset;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    grid-auto-columns: 300px;
    grid-auto-flow: column;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    scroll-behavior: smooth;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
  }
}

.destination .destination-list .destination-item {
  height: 337px;
  position: relative;
  scroll-snap-align: start;
}

.destination .destination-list .destination-item .destination-image {
  border-radius: 8px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.destination .destination-list .destination-item .destination-image img {
  width: 100%;
  height: 100%;
}

.destination .destination-list .destination-item .destination-content {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  border-radius: 0 6px 0 0;
  padding: 11px 32px 0px 0;
}

.destination .destination-list .destination-item .destination-content .destination-name {
  color: #202336;
  font-size: 17;
  font-family: "Inter", sans-serif;
  line-height: 147%;
  margin-bottom: 10px;
}

.destination .destination-list .destination-item .destination-content .destination-country {
  font-size: 15px;
  color: #7d7987;
}

.footer {
  background-color: #f9f9fb;
  padding: 78px 0 25px 0;
  font-family: "Mulish", sans-serif;
}

.footer .footer-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr (1fr)[3];
      grid-template-columns: 3fr repeat(3, 1fr);
  gap: 30px 160px;
  padding-bottom: 80px;
  border-bottom: 1px solid #c4c4c4;
}

@media screen and (max-width: 1023px) {
  .footer .footer-top {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    padding-bottom: 0px;
    gap: 30px 50px;
  }
}

@media screen and (max-width: 767px) {
  .footer .footer-top {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
}

.footer .footer-top .footer-col .footer-logo {
  margin-bottom: 26px;
}

.footer .footer-top .footer-col .footer-desc {
  margin-bottom: 55px;
  font-size: 18px;
  max-width: 335px;
}

.footer .footer-top .footer-col .copy-right {
  font-style: 17px;
}

.footer .footer-top .footer-col .footer-title {
  font-size: 19px;
  color: black;
  margin-bottom: 25px;
  font-weight: 700;
}

.footer .footer-top .footer-col .footer-links .footer-item {
  margin-bottom: 10px;
}

@media screen and (max-width: 1023px) {
  .footer .footer-top .footer-col .footer-links .footer-item {
    margin-bottom: 20px;
  }
}

.footer .footer-top .footer-col .footer-links .footer-item .footer-link {
  color: #848484;
  display: inline-block;
}

.footer .footer-bootom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 35px;
  margin-top: 25px;
}

.footer .footer-bootom a {
  color: black;
  font-size: 22px;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  line-height: 1;
  height: 52px;
  padding: 0 60px;
  border-radius: 8px;
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.btn--primary {
  color: white;
  background-color: #fb8f1d;
}

.btn--secondary {
  color: #fb8f1d;
  border: 1px solid currentColor;
}

.dropdown {
  width: 100%;
  position: relative;
}

.dropdown .dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 3;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
          box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.25s ease-in;
  transition: 0.25s ease-in;
}

.dropdown .dropdown-item,
.dropdown .dropdown-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 30px;
  border-radius: 6px;
  border: 1px solid #afb0b9;
  color: #202336;
  cursor: pointer;
}

.dropdown .dropdown-item {
  border: 0;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}

.dropdown .dropdown-item:hover {
  background-color: #afb0b9;
}

.dropdown:hover .dropdown-list {
  opacity: 1;
  visibility: visible;
}

.viewall {
  color: #fb8f1d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  white-space: nowrap;
}

.guide {
  margin-bottom: 248px;
}

@media screen and (max-width: 1023px) {
  .guide {
    margin-bottom: 75px;
  }
}

.guide .guide-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 80px;
}

@media screen and (max-width: 1023px) {
  .guide .guide-main {
    gap: 50px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.guide .guide-main .guide-content {
  width: 100%;
}

@media screen and (mix-width: 1024px) {
  .guide .guide-main .guide-content {
    max-width: 450px;
    padding-left: 50px;
  }
}

.guide .guide-main .guide-content .guide-heading {
  margin-bottom: 20px;
}

.guide .guide-main .guide-content .guide-desc {
  margin-bottom: 33px;
}

.guide .guide-main .guide-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding-right: 40px;
}

.guide .guide-main .guide-image img {
  width: 100%;
}

.header {
  padding-top: 45px;
  padding-bottom: 70px;
}

.header .header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 30px 0;
  }
}

.hero {
  margin-bottom: 270px;
}

@media screen and (max-width: 1023px) {
  .hero {
    margin-bottom: 75px;
  }
}

.hero .hero-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1023px) {
  .hero .hero-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px 0;
  }
}

.hero .hero-main .hero-content {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .hero .hero-main .hero-content {
    max-width: 470px;
  }
}

.hero .hero-main .hero-content .hero-heading {
  font-size: 64px;
  line-height: 125%;
  margin-bottom: 74px;
}

@media screen and (max-width: 767px) {
  .hero .hero-main .hero-content .hero-heading {
    font-size: 50px;
    margin-bottom: 50px;
  }
}

.hero .hero-main .hero-content .hero-caption {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 48px;
  padding-bottom: 20px;
  display: inline-block;
  position: relative;
  color: #202336;
}

.hero .hero-main .hero-content .hero-caption::before {
  position: absolute;
  content: '';
  height: 2px;
  width: 32px;
  bottom: 0;
  left: 0;
  background-color: #202336;
}

.hero .hero-main .hero-content .hero-forms {
  margin-bottom: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 30px;
}

@media screen and (max-width: 767px) {
  .hero .hero-main .hero-content .hero-forms {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    gap: 30px 0;
  }
}

.hero .hero-main .hero-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero .hero-main .hero-image img {
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .hero .hero-main .hero-image {
    -webkit-transform: translateX(85px);
            transform: translateX(85px);
  }
}

.menu-toggle {
  display: none;
  color: black;
  font-size: 30px;
  cursor: pointer;
}

.menu-toggle ion-icon {
  position: relative;
  z-index: -1;
}

@media screen and (max-width: 1023px) {
  .menu-toggle {
    display: block;
  }
}

.menu.is-show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 35px;
}

@media screen and (max-width: 1023px) {
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-box-shadow: 0 7px 29px 0 rgba(100, 100, 111, 0.2);
            box-shadow: 0 7px 29px 0 rgba(100, 100, 111, 0.2);
    width: 300px;
    z-index: 5;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-transition: 0.25s linear;
    transition: 0.25s linear;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@media screen and (max-width: 1023px) {
  .menu .menu-item {
    width: 100%;
    text-align: center;
  }
}

.menu .menu-item .menu-link {
  color: inherit;
}

@media screen and (max-width: 1023px) {
  .menu .menu-item .menu-link {
    display: block;
    padding: 20px;
  }
}

@media screen and (max-width: 1023px) {
  .menu .menu-item .btn {
    width: 100%;
    margin-top: 25px;
  }
}

@media screen and (max-width: 1023px) {
  .menu .menu-item:nth-last-child(1),
  .menu .menu-item:nth-last-child(2) {
    padding: 0 15px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

input, button {
  border: none;
  outline: none;
}

.story {
  margin-bottom: 270px;
}

@media screen and (max-width: 1023px) {
  .story {
    margin-bottom: 75px;
  }
}

.story .story-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .story .story-header {
    margin-bottom: 30px;
  }
}

.story .story-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 0 25px;
}

@media screen and (max-width: 1023px) {
  .story .story-list {
    gap: 25px 25px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 739px) {
  .story .story-list {
    gap: 0 25px;
    -ms-grid-columns: unset;
        grid-template-columns: unset;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    grid-auto-columns: 300px;
    grid-auto-flow: column;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    scroll-behavior: smooth;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
  }
}

.story .story-list .story-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  scroll-snap-align: start;
}

.story .story-list .story-item .story-image {
  height: 230px;
  margin-bottom: 15px;
  overflow: hidden;
}

.story .story-list .story-item .story-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 8px 0 0;
  -o-object-position: top center;
     object-position: top center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.story .story-list .story-item:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.story .story-list .story-item .story-content {
  font-family: "Inter", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.story .story-list .story-item .story-content .story-title {
  font-size: 19px;
  color: black;
  margin-bottom: 15px;
  font-weight: bold;
  line-height: 158%;
}

.story .story-list .story-item .story-content .story-desc {
  margin-bottom: 23px;
  line-height: 175%;
  font-size: 15px;
  color: #7d7987;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.story .story-list .story-item .story-content .story-more {
  font-size: 15px;
  font-weight: 600;
  color: #fb8f1d;
  line-height: 28px;
  margin-top: auto;
}

.testimonial {
  margin-bottom: 270px;
}

@media screen and (max-width: 1023px) {
  .testimonial {
    margin-bottom: 75px;
  }
}

.testimonial .testimonial-main {
  max-width: 1070px;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .testimonial .testimonial-main {
    padding-left: 50px;
  }
}

.testimonial .testimonial-main .testimonial-heading {
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .testimonial .testimonial-main .testimonial-heading {
    margin-bottom: 30px;
  }
}

.testimonial .testimonial-main .testimonia-wrapper {
  overflow: hidden;
  position: relative;
}

.testimonial .testimonial-main .testimonia-wrapper .arrows {
  position: absolute;
  bottom: 0px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 15px;
  gap: 15px;
  border-radius: 12px 0 0 0;
  background-color: white;
  z-index: 2;
}

.testimonial .testimonial-main .testimonia-wrapper .arrows .arrow {
  width: 30px;
  height: 30px;
  color: #202336;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid currentColor;
  cursor: pointer;
}

.testimonial .testimonial-main .testimonia-wrapper .arrows .arrow.disabled {
  color: #afb0b9;
  cursor: not-allowed;
}

.testimonial .testimonial-main .testimonia-wrapper .testimonial-list {
  position: relative;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.testimonial .testimonial-main .testimonia-wrapper .testimonial-list .slick-arrow {
  color: #afb0b9;
  position: absolute;
  bottom: 7px;
  font-size: 22px;
  width: 35px;
  height: 35px;
  border: 1px solid currentColor;
  border-radius: 50%;
  background: transparent;
  z-index: 3;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial .testimonial-main .testimonia-wrapper .testimonial-list .slick-arrow:hover {
  color: #202336;
  cursor: pointer;
}

.testimonial .testimonial-main .testimonia-wrapper .testimonial-list .slick-prev {
  right: 55px;
}

@media screen and (max-width: 767px) {
  .testimonial .testimonial-main .testimonia-wrapper .testimonial-list .slick-prev {
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.testimonial .testimonial-main .testimonia-wrapper .testimonial-list .slick-next {
  right: 10px;
}

@media screen and (max-width: 767px) {
  .testimonial .testimonial-main .testimonia-wrapper .testimonial-list .slick-next {
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.testimonial .testimonial-main .testimonia-wrapper .testimonial-list::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 50px;
  border-radius: 12px 0 0 0;
  background-color: white;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .testimonial .testimonial-main .testimonia-wrapper .testimonial-list::before {
    background-color: transparent;
  }
}

.testimonial .testimonial-main .testimonia-wrapper .testimonial-list .testimonial-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  gap: 0 25px;
}

@media screen and (max-width: 767px) {
  .testimonial .testimonial-main .testimonia-wrapper .testimonial-list .testimonial-item {
    gap: 30px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.testimonial .testimonial-main .testimonia-wrapper .testimonial-list .testimonial-item .testimonial-content {
  max-width: 450px;
}

.testimonial .testimonial-main .testimonia-wrapper .testimonial-list .testimonial-item .testimonial-content .testimonial-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin-bottom: 30px;
  font-size: 20px;
  color: #ffbb0c;
}

.testimonial .testimonial-main .testimonia-wrapper .testimonial-list .testimonial-item .testimonial-content .testimonial-desc {
  color: black;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .testimonial .testimonial-main .testimonia-wrapper .testimonial-list .testimonial-item .testimonial-content .testimonial-desc {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.testimonial .testimonial-main .testimonia-wrapper .testimonial-list .testimonial-item .testimonial-content .testimonial-author .testimonial-name {
  font-weight: bold;
  font-size: 22px;
  color: black;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .testimonial .testimonial-main .testimonia-wrapper .testimonial-list .testimonial-item .testimonial-content .testimonial-author .testimonial-name {
    font-size: 20px;
  }
}

.testimonial .testimonial-main .testimonia-wrapper .testimonial-list .testimonial-item .testimonial-content .testimonial-author .testimonial-job {
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
}

@media screen and (max-width: 767px) {
  .testimonial .testimonial-main .testimonia-wrapper .testimonial-list .testimonial-item .testimonial-content .testimonial-author .testimonial-job {
    font-size: 16px;
  }
}

.testimonial .testimonial-main .testimonia-wrapper .testimonial-list .testimonial-item .testimonial-image {
  width: auto;
  height: 500px;
}

@media screen and (max-width: 767px) {
  .testimonial .testimonial-main .testimonia-wrapper .testimonial-list .testimonial-item .testimonial-image {
    height: 400px;
  }
}

.testimonial .testimonial-main .testimonia-wrapper .testimonial-list .testimonial-item .testimonial-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #b8becd;
}

.heading {
  font-family: "Playfair Display", serif;
  color: #202336;
}

.heading--small {
  line-height: 139%;
  font-size: 36px;
}

@media screen and (max-width: 767px) {
  .heading--small {
    font-size: 30px;
  }
}

.text {
  font-weight: 300;
  line-height: 176%;
  font-size: 17px;
  color: #7d7987;
  font-family: "Mulish", sans-serif;
}
/*# sourceMappingURL=style.css.map */